<ng-container>
    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3">

            <div class="card mb-4">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Your Best Difficulty <i
                                class="pi pi-question-circle ml-2"
                                pTooltip="If you find a solution with a difficulty higher than the network difficulty, you've found a block."></i></span>
                        <div class="text-900 font-medium text-xl">

                            <ng-container
                                *ngIf="clientInfo$ | async as clientInfo; else loading">{{clientInfo.bestDifficulty |
                                numberSuffix}}</ng-container>
                            <ng-template #loading>
                                <p-skeleton></p-skeleton>
                            </ng-template>
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                        [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-star text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">

                    <ng-container *ngIf="clientInfo$ | async as clientInfo; else loading">{{clientInfo.bestDifficulty |
                        number}}</ng-container>
                    <ng-template #loading>
                        <p-skeleton></p-skeleton>
                    </ng-template>
                </span>
            </div>


        </div>

        <ng-container>
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-4">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Network Difficulty</span>
                            <div class="text-900 font-medium text-xl">
                                <ng-container
                                    *ngIf="networkInfo$ | async as networkInfo; else loading">{{networkInfo.difficulty |
                                    numberSuffix}}</ng-container>
                                <ng-template #loading><p-skeleton></p-skeleton></ng-template>
                            </div>

                        </div>
                    </div>
                    <span class="text-green-500 font-medium">
                        <ng-container *ngIf="networkInfo$ | async as networkInfo; else loading">
                            {{networkInfo.difficulty
                            | number}}</ng-container>
                        <ng-template #loading><p-skeleton></p-skeleton></ng-template>
                    </span>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-4">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Network Hash Rate </span>
                            <div class="text-900 font-medium text-xl">
                                <ng-container *ngIf="networkInfo$ | async as networkInfo; else loading">
                                    {{networkInfo.networkhashps | hashSuffix}}</ng-container>
                                <ng-template #loading><p-skeleton></p-skeleton></ng-template>
                            </div>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">&nbsp;</span>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-4">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Block Height</span>
                            <div class="text-900 font-medium text-xl">
                                <ng-container *ngIf="networkInfo$ | async as networkInfo; else loading">
                                    {{networkInfo.blocks}}</ng-container>
                                <ng-template #loading><p-skeleton></p-skeleton></ng-template>
                            </div>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">Weight:
                        <ng-container *ngIf="networkInfo$ | async as networkInfo; else loading">
                            {{networkInfo.currentblockweight | number}}</ng-container>
                        <ng-template #loading><p-skeleton></p-skeleton></ng-template>
                    </span>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="card workers-card">
        <ng-container *ngIf="clientInfo$ | async as clientInfo; else loadingTable">
            <div class="workers-table-wrapper">
                <table class="workers-table">
                    <thead>
                        <tr>
                            <th class="col-name">Name</th>
                            <th class="col-hashrate">Hashrate</th>
                            <th class="col-uptime">Uptime</th>
                            <th class="col-lastseen">Last Seen</th>
                            <th class="col-bestdiff">Session Best Difficulty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let worker of clientInfo.workers" [routerLink]="[worker.name, worker.sessionId]">
                            <td class="col-name">
                                <span class="worker-cell-text">{{worker.name}}</span>
                            </td>
                            <td class="col-hashrate">
                                <span class="worker-cell-text">{{worker.hashRate | hashSuffix}}</span>
                            </td>
                            <td class="col-uptime">
                                <span class="worker-cell-text">{{worker.startTime | dateAgo}}</span>
                            </td>
                            <td class="col-lastseen">
                                <span class="worker-cell-text">{{worker.lastSeen | dateAgo}}</span>
                            </td>
                            <td class="col-bestdiff">
                                <span class="worker-cell-text">{{worker.bestDifficulty | numberSuffix}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-container>

        <ng-template #loadingTable>
            <div class="workers-table-wrapper">
                <table class="workers-table">
                    <thead>
                        <tr>
                            <th class="col-name">Name</th>
                            <th class="col-hashrate">Hashrate</th>
                            <th class="col-uptime">Uptime</th>
                            <th class="col-lastseen">Last Seen</th>
                            <th class="col-bestdiff">Session Best Difficulty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of [1,2,3,4,5]">
                            <td class="col-name"><p-skeleton></p-skeleton></td>
                            <td class="col-hashrate"><p-skeleton></p-skeleton></td>
                            <td class="col-uptime"><p-skeleton></p-skeleton></td>
                            <td class="col-lastseen"><p-skeleton></p-skeleton></td>
                            <td class="col-bestdiff"><p-skeleton></p-skeleton></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </div>

    <div class="card chart">
        <ng-container *ngIf="chartData$ | async as chartData; else loadingChart">
            <p-chart [data]="chartData" [options]="chartOptions"></p-chart>
        </ng-container>
        <ng-template #loadingChart>
            <p-skeleton width="100%" height="40vh"></p-skeleton>
        </ng-template>

    </div>
</ng-container>
